<h2>Log in</h2>
<br>
<% render "shared/errors" %>

<form action= "<%= session_url %>" method="post">
  <%= auth_token %>
  <label for="user_name">Username: </label>
    <input
      type="text"
      name="user[name]"
      value=""
      id="user_name">
      <br>
      <br>

  <label for="password">Password: </label>
    <input type="password"
      name="user[password]"
      value=""
      id="password">
      <br>
      <br>

<button type="submit" name="submit">Engage With Your Breaded Side</button>
</form>
