<h2>Sign up</h2>

<form action= "<%= users_url(@user) %>" method="post">
  <%= auth_token %>
  <label for="user_name">Username: </label>
    <input
      type="text"
      name="user[name]"
      value=""
      id="user_name">
      <br>
      <br>
  <label for="password">Password: </label>
    <input type="password"
      name="user[password]"
      value=""
      id="password">
      <br>
      <br>

<button type="submit" name="submit">Commence Bread Enthusiast Status</button>
</form>
