<% method = @sub.persisted? ? :edit : :post %>
<% action = @sub.persisted? ? "edit_sub_url(@sub)" : "sub_url(@sub)"  %>

<form action= "<%= "#{action}" %>" method="<%= method %>">
  <%= auth_token %>
  <label for="sub_title">Subbreddit Title: </label>
    <input
      type="text"
      name="sub[title]"
      value=""
      id="sub_title">
      <br>
      <br>
  <label for="description">Description: </label>
      <br>
    <textarea
      name="sub[description]"
      rows="8"
      cols="37"
      id="description"><%= @sub.description %></textarea>
      <br>
      <br>
    <input
      type="hidden"
      name="sub[user_id]"
      value="<%= current_user.id %>">

<button type="submit" name="submit">Bake this Subbreddit</button>
</form>
