<h3>Every Kind of Subbreddit You Could Ever Eat a Loaf Off of</h3>
<ul>

<% Sub.all.each do |loaf| %>
  <li>
  <%= link_to loaf.title, sub_url(loaf.id) %>
  </li>
<% end %>

</ul>

<%= link_to "Bake a new Subbreddit", new_sub_url %>
