<!DOCTYPE html>
<html>
<head>
  <title>Breddit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<% if logged_in?%>
  <%= "Welcome to Breddit, #{current_user.name}" %>
<form action="<%= session_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Log Out">
</form>

<% else %>
<form action="<%= new_session_url %>" method="get">
  <%= auth_token %>
  <input type="submit" value="Log In">
</form>

<% end %>

<%= yield %>

</body>
</html>
